

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

nav {
	padding: 20px;
	float: left;
	min-height: 90%;
	width: 200px;
}

footer {
	clear: both;
	text-align: center;
}

#content {
	overflow: auto;
	text-align: center;
}

.screen_hidden {
	background-color: #FFFFFF;
	width: 2px;
	height: 2px;
	margin: 0px;
	padding: 0px;
}

.screen_running {
	background-color: #000000;
	width: 256px;
	height: 240px;
	margin: 0px;
	padding: 0px;
}

.game_icon {
	float: left;
	margin: 10px;
	padding: 0px;
	width: 140px;
	height: 200px;
}

.game_icon_none {
	float: left;
	margin: 10px;
	padding: 0px;
	width: 140px;
	height: 200px;
}

.broken {
	background-color: #EEEEEE;
}

.broken img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.game_icon img {
	width: 100px;
	height: 137px;
	margin: 0 auto;
	padding: 0px;
}

.game_icon_none div {
	width: 100px;
	height: 137px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	border: 1px solid black;
}

.game_icon_none {
	border: 2px solid #FFFFFF;
}

.game_icon_none:hover {
	border: 2px solid #009900;
}

.game_icon {
	border: 2px solid #FFFFFF;
}

.game_icon:hover {
	border: 2px solid #009900;
}

#gamepad_indicator {
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	background-color: #009900;
	display: none;
}

#nacl_not_enabled {
	overflow: auto;
	clear: both;
	text-align: left;
	margin: 40px;
	display: none;
}

#breadcrumbs_div {
	overflow: auto;
	clear: both;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#about {
	text-align: left;
	padding: 10%;
	display: none;
}

#top_controls {
	overflow: auto;
	clear: both;
	padding: 10px;
	margin: 0px;
	text-align: left;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#game_selector {
	overflow: auto;
	clear: both;
	display: none;
}

#home_controls {
	overflow: auto;
	clear: both;
}

#home_controls button {
	width: 50%;
	height: 100px;
	float: left;
}

#game_add_drop {
	overflow: auto;
	clear: both;
	height: 100px;
	border: 10px solid green;
}

#game_add_progress {
	display: none;
}

#game_library {
	overflow: auto;
	clear: both;
	min-height: 200px;
	display: none;
}

#game_library_letters {
	overflow: auto;
	clear: both;
	padding-bottom: 20px;
}

#game_info {
	overflow: auto;
	clear: both;
	text-align: left;
	display: none;
}

#game_img {
	margin: 10px;
}

#game_play_info {
	overflow: auto;
	float: left;
	padding: 20px;
}

#game_play_controls {
	overflow: auto;
	float: left;
	padding: 20px;
}

#game_play_button button {
	width: 150px;
	height: 100px;
}

#game_play_version {
	margin-top: 20px;
}

#lnk_remove_save {
	display: none;
}

#game_play_save_span {
	display: none;
}

#gamepad_config td {
	text-align: center;
	width: 100px;
	height: 100px;
}

.gamepad_grey {
	background-color: #343b34;
	color: #ffffff;
}

.gamepad_black {
	background-color: #101614;
	color: #ffffff;
}

.gamepad_tan {
	background-color: #d7d5c9;
}

.gamepad_red {
	background-color: #ed2b21;
}

#gamepad_config {
	display: none;
	position: fixed;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}

#gamepad_config > div {
	width: 700px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;

	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	
	-moz-box-shadow: 1px 1px 30px #000;
	-webkit-box-shadow: 1px 1px 30px #000;
	box-shadow: 1px 1px 30px #000;
}

#gamepad_config_close {
	top: -10px;
	width: 24px;
	right: -12px;
	position: absolute;

	background: #606061;
	color: #FFFFFF;

	line-height: 25px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

#gamepad_config_close:hover {
	background: #FF0000;
}
